*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    background-image: url(../images/bg-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:0px;
    margin-left:0px;
    position: relative;
}
.contact{
    background-color: transparent;
    color: black;
    height: 15vh;
    width: 60%;
    position: absolute;
    top: 10%;
    left: 20%;
}
.contact h1 {
    text-align: center;
    color: white;
}
/* .contact p{
    margin-left: 20px;
    margin-top: 15px;
    color: white;
} */
.contactus{
    background-color: transparent;
    height: 50vh;
    width: 300px;
    position: absolute;
    top: 28%;
     left: 10%;
}
.contactus img{
    margin-top: 50px;
    margin-left: 13px;
    background-color: white;
    border-radius: 50%;
}
.contactus h3{
    margin-left: 70px;
    width: 20px;
    color:#34abeb;
    margin-top: -40px;
}
.contactus p{
        margin-left: 70px;
        color: white;
        margin-top: 5px;
}
.info{
    background-color: white;
    height: 55vh;
    width: 330px;
   position: absolute;
   top: 30%;
   left: 50%;
   box-sizing: border-box;
   /* box-shadow:  2px 0 1px 2px grey; */
   border-radius: 5px;
}
.info h2{
    margin-top: 20px;
    margin-left: 30px;
}
.info input{
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    border: none;
}
.info input::placeholder{
    font-size: 20px;
}
.info textarea{
    width: 200px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    height: 50px;
    border: none;
    /* color: red; */
}
.info textarea::placeholder{
    font-size: 20px;
    /* text-decoration: underline; */
}
.info button{
    padding: 5px;
    width: 100px;
    height: 40px;
    margin-left: 30px;
    margin-top:7px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #34abeb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}
.info button:hover{
    background-color: white;
    border: 1px #34abeb solid ;
    color: #34abeb;
}
.btnback{
    position: absolute;
    top: 90%;
    left:85%;
    padding: 10px;
    font-size: 17px;
    background-color: #34abeb;
    border: none;
    border-radius: 8px;
    color: white;
}
/* .btnback:hover{
     background-color: white;
     color: #34abeb;
     border: 1px solid #34abeb ;
} */
.btnback a{
    text-decoration: none;
    color: white;
}
