*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFFF0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.6);
    width:1356px;
    height: 100px;
    padding-left: 30px;
    
}
.rigth-side{
    margin-right: 90px;
}
.nav-cointainer{
    position: fixed;
}
.first-nav{
    color: yellow;
}
.nav-image{
    /* margin-bottom: 80px; */
    margin-top: -5px;
    height: 110px;
    margin-left: 10px;
}
.navbar a{
    text-decoration: none;
    font-size: 23px;
    color: white;
    font-size: 26px;
}
.navbar a:hover{
    color: yellow;
    border-bottom: 1px solid white;
    transition: 0.5s;
}

.item{
    background-color: transparent;
    margin: 5px;
    width: 90px;
    text-align: center;
    
}

.item1{
    margin-left: 420px;
    margin-top: 35px;
    /* color: yellow; */
}
.item2{
    margin-left: 50px;
    margin-top: 35px;
}
.item3 {
    margin-left: 20px;
    width: 500px ;
    margin-top: 35px;
}
.item4 {
    margin-left: 20px;
    margin-top: 35px;
}
.item5 {
    margin-left: 20px;
    margin-top: 35px;
}
.item6 {
    margin-left: 20px;
    margin-top: 35px;
}
.btn-1{
    margin-left: 100px;
    padding: 10px;
    height: 30px;
    width: 80px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    
}
.navbar button{
    padding: 10px;
    cursor: pointer;
    width: 150px;
    font-size: 20px;
    border-radius: 40px;
    margin-left: -19px;
    background-color: transparent;
    color: white;
    border: none;

}
.navbar button i{
    margin-right: 10px;
}
.navbar button:hover{
        color: yellow;
        text-decoration: underline;
        transition: 0.2s;
}

.afternav-cointainer{
    background-image: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 2px 2px  grey;
    
}
.bg-image p{
    position: absolute;
    top: 40%;
    left: 25%;
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -100px;
    margin-left: 70px;
}
.bg-image input{
    position: absolute;
    top: 46%;
    left: 30%;
    width: 30%;
    height: 35px;
    font-size: 25px;
    
}
.bg-image input{
   margin-top: -30px;
   padding: 1px;
}
.btn-2{
    margin-top: 334px;
    margin-left: 820px;
    height: 38px;
    padding: 6px;
    width: 180px;
    cursor: pointer;
    font-size: 20px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
}

.btn-2:hover{
    /* box-shadow: 1px 0 0px 2px grey; */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    
}
.search{
    position: absolute;
        top: 52%;
        left: 28%;
        width: 30%;
        height: 39px;
        font-size: 25px;
        background-color: white;
        width: 28px;
        margin-top: -10px;
        box-sizing: border-box;
}
.bg-image .searchbar::placeholder{
    font-size: 20px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    
}

.bg-image input{
    margin-top: 5px;
}
.magnify-img{
    position: absolute;
        top: 50%;
        left: 10%;
        width: 30%;
        height: 35px;

}
.heading{
    background-color: transparent;
    width:600px;
    height: 50px;
    margin-top: 50px;
    margin-left: 450px;
    font-size: 25px;
    padding: 5px;
    animation: left-right 2s linear infinite;
    animation-direction: alternate;
    box-sizing: border-box;
    border-radius: 0px 60px 0px 60px;
    background-image: linear-gradient(#ffdf29,white);
    color: black;
    text-align: center;
}
@keyframes left-right{
    from{padding-left: 40px;}
    to{padding-right: 80px;}
}
.heading P{
    margin-top: 10PX;
}
.heading1 {
    margin-top: 50px;
    margin-left: 30px;
}
.heading1 p{
    font-weight: 200;
    font-size: 20px;
    margin-top: 10px;
}
.heading1 h1{
    font-size: 45px;
}
.search-btn{
      display: flex;
      margin-top: -25px;
}
/* .boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */
.collection{
   background-color: transparent;
   height: 400px;
   display: flex;
   justify-content: space-around;
   margin-top: 30px;
   font-size: 30px;
   text-align: center;
}
.collection p{
    background-color: transparent;
    width:260px ;
    border-radius: 0px 0px 30px 30px;
    font-size: 33px;
    /* color:white ; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 292px;
    /* border-bottom: 38px; */
    margin-right: 20px;
}
html{
    scroll-behavior: smooth;
}
.collection a{
    text-decoration: none;
    /* color: white ; */
    color:white;
}
.box1{
    /* background-color: yellow; */
    width: 260px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 10px;
   
}
.box1:hover{
    box-shadow: 1px 0px 2px 1px grey;
    opacity: 1;
    border: 1px solid grey;
}
.box-a{
    background-image: url(../images/idli.jpg);
    background-color: rgba(0, 0, 0, 0.1);
    
    
}
.box-b {
    background-image: url(../images/north-indian.jpg);
    background-size: cover;
}
.box-c {
    background-image: url(../images/east.jpg);
    background-size: cover;
}
.box-d {
    background-image: url(../images/west.jpg);
    background-size: cover;
}
.intro-part{
    background-image: url(../images/paneer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 2px; */
    /* margin-left: 120px; */
    width: 100%;
    height: 450px;
    box-shadow: 2px 2px 10px 5px gray ;
    animation: slider 20s infinite linear;
    border-radius: 10px;
    font-size: 50px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 0, 0, 0.8);
}
.intro-part p{
    margin-left: 10px;
    font-size: 30px;
}
@keyframes slider{
    0%{
     background-image: url(../images/paneer.jpg);
    }
    60%{
     background-image: url(../images/biryani.jpg);
    }
     100%{
      /* background-image: url(../images/noodle1.jpg); */
    } 
}
.view{
    font-size: 20px;
    margin-top: 10px;
    text-align: end;
    margin-left: -10px;
}
.view a{
    text-decoration: none;
    color: red;
}
.download-app{
    /* background-color: yellow; */
   background-image: url(../images/mobilebg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: 90px;
}
.download-app img{
    height: 500px;
    margin-left: 300px;
    margin-bottom: -20px;
}
.download-app p{
    margin-top: -410px;
    margin-left: 740px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.download-app button:hover{
    /* background-image: linear-gradient(#ffff00,#ffffff); */
    background: linear-gradient(to top left, #ffff00 -19%, #ffffff 103%);
    transition: 1s;
}
.download-app i{
    margin-top: 20px;
    font-size: 25px;
}
.download-app .para2{
    font-weight: 300;
}
.radio-btn{
    padding: 2px;
    margin-left: 740px;
    margin-top: 20px;
    
}
.image-d img{
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.download-app .enter-mail{
    padding: 10px;
    width: 250px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 23px;
}
.download-app .radio1{
    cursor: pointer;
}
.enter-mail::placeholder{
    font-size: 20px;
    font-weight: 100;
}
.radio-btn button{
    padding: 10px;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    height: 60px;
}
.footer-part{
    /* background-color: black; */
    color: white;
    height: 600px;
    width: 100%;
    margin-top: 100px;
    
}
.footer-part{
    background-color:#6b6b47;
    display: flex;
    justify-content: space-around;
    
}
.content1{
    background-color: transparent;
    width: 200px;
    height: 430px;
    margin-top: 100px;
}
.content1 p{
    font-size: 20px;
}
.icons {

    width: 30%;
    margin-bottom: 50%;
    margin-top: 30px;
    font-size: 30px;
    word-spacing: 30px;

}

.icons i {
    cursor: pointer;
}

.icon1:hover {
    color: blue;
    transition: 0.4s;
}

.icon2:hover {
    color: blue;
    transition: 0.4s;
}

.icon3:hover {
    color: rgb(2, 102, 2);
    transition: 0.4s;
}

.icon4:hover{
    /* color: black;
    transition: 0.4s; */
}

.icon5:hover{
    color: rgb(185, 7, 108);
    transition: 0.4s;
}


.logo1 {
    margin-top: 20px;
}
.icons{
    width: 290px;
}
.head2{
    /* margin-top: 30px; */
    font-weight: 600;
}
.app{
    margin-top: 30px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
}
.app img{
    width: 150px;
    cursor: pointer;
    
}
.app i{
    color: white;
    font-size: 35px;
    margin-top: 8px;
    margin-left: 15px;
}
.app p{
    font-size: 12px;
    margin-left: 80px;    /* margin-top: -50px; */
    /* width: 50px; */
    margin-top: -20px;
}
.cutomer-para{
    margin-bottom: 20px;
    
}
.customer{
    height: 65px;
    width: 69px;
    background-color: transparent ;
    /* background-image: url(../images/customer-service.png); */
    background-size: cover;
    /* background-color: red; */
    margin-top: 40px;
    margin-left: 80rem;
    /* display: flex; */
    /* position: fixed; */
    /* display: block; */
}
.customer img{
    height: 70px;
 }   
.services{
    width: 100%;
    height: 450px;
    /* margin-left: 150px; */
    /* border-radius: 15px; */
    /* background-color: red; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.service{
    /* background-color: grey; */
    width: 235px;
    height: 340px;
    margin: 10px;
    border-radius: 10%;
    margin-top: 100px;
    text-align: center;
    
    
}
.review-page h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin:15px 0 15px 0;
}
.review-page p{
    font-size: 20px;
}
.cutomer-para{
    background-color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 25px
}
/* .customer-review{
   
    background-color: #ffdf29;
} */
    
.customer-review{
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.common{
    background-color: #f5f5f0;
    box-sizing: border-box;
    
    border-radius: 10px;
    margin: 10px;
    width: 350px;
    height: 400px;
    
}
.common:hover{
                box-shadow: 0 1px 1px 2px #ccccb3;
                transition: 0.3s;
}
.customer-review img{
    border-radius: 50%;
    width: 120px;
    margin-left: 100px;
    
}
.customer1 img{
    height: 110px;
    margin-top: 5px;
} 
.common .rating1{
    margin-top: -10px;
    width: 130px;
    height: 62px;
    /* margin-left: 5px; */
}
/* .common .rating1{
    height: 120px;
    width: 63px;
} */
.customer-review p{
    font-size: 20px;
    margin-top: 10px;
    
}
.customer-review h2{
    text-align: center;
}
/* .profile-1{
    margi
} */

@media screen and (max-width:600px)
{
     .collection{
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
     }
     .collection p{
        text-align: center;
     }
     .customer-review{
        display: flex;
        flex-wrap: wrap;
     }
    .footer-part{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: 20px;
        margin-top: 400px;
    }
    .bg-image{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        color: red;
    }
        .navbar{
            display: flex;
            width: 100%;
            /* display: block; */
            /* flex-direction: column; */
            /* flex-wrap: wrap; */
        }
    .heading{
        margin-left: 50px;
        width: 400px;
        text-align: center;
    }
}